.idea
.vscode
.env
client-certs.json
server-certs.json
slider-data.tar.gz
dist
!server/web/dist/
!server/web/dist/**
build
artifacts
server/cmd/build
client/cmd/build
node_modules/
playwright-report/
test-results/
.DS_Store
.trae/*
